.card {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 150px;
  min-width: 150px;
}

.idCard{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 20px;
  font-weight: bold;
}

.positiveValue{
  color: darkgreen;
}

.negativeValue{
  color: crimson;
}